<h1> <%= @cat.name  %></h1>

<table>
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Sex</th>
    <th>Color</th>
    <th>Description</th>
  </tr>
  <tr>
    <td> <%= @cat.name.capitalize %> </td>
    <td> <%= @cat.age %> </td>
    <td> <%= @cat.sex.capitalize %> </td>
    <td> <%= @cat.color.capitalize %> </td>
    <td> <%= @cat.description.capitalize %> </td>
  </tr>
</table>
<h2>Rental Requests</h2>
<table>
  <tr>
    <th>Start Date</th>
    <th>End Date</th>
  </tr>
  <% @cat.cat_rental_requests.order(:start_date).each do |req| %>
  <tr>
    <td> <%= req.start_date %> </td>
    <td> <%= req.end_date %> </td>
  </tr>
  <% end %>
</table>
